html{
    text-align: center;
}
.video-container{
  padding: 6px;
  background-color: #9C9C9C;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

video{
  height: 320px;
  border-radius: 5px;
}

h1{
  color: #0F7F00;
  font-family: serif;
  font-size: 35px;
  font-style: italic;


}
